/* You can add global styles to this file, and also /* Global Styles */
@import 'leaflet/dist/leaflet.css';
@import 'tailwindcss/base';

files */ html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}